@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
html,
body {
  height: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 1fr 32px;
}
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.logo {
  height: 75%;
}
.to-do-items li.completed img.unchecked {
  display: none;
}
.to-do-items li.pending img.checked {
  display: none;
}
.to-do-items li.completed span {
  text-decoration: line-through;
}
.new-to-do {
  display: flex;
}
.main-inner-wrapper {
  width: 480px;
}
main {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}
.new-to-do button img {
  height: 24px;
}
.new-to-do button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-inline: 8px;
}
.new-to-do {
  gap: 8px;
  display: flex;
}
.new-to-do input {
  flex-grow: 1;
}
.to-do-items {
  list-style-type: none;
}
.to-do-items li {
  display: flex;
  justify-content: space-between;
}
.to-do-items li img {
  height: 24px;
}
.to-do-items li button {
  display: flex;
  align-items: center;
  margin-top: 8px;
  background-color: transparent;
  border: 0;
  padding-right: 4px;
}
.new-to-do input {
  padding-inline: 8px;
}
.tools {
  display: flex;
  gap: 4px;
}
button:disabled img {
  opacity: 25%;
}
